@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.mainpage {
    flex: 1 1 auto;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: transparent;
    background-color: #fef9e6;
}

header .logo {
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}

header .logo span {
    color: #ff0157;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

header .navigation {
    position: relative;
    display: flex;
    list-style-type: none;
    padding: 22px;
    margin: 0;
    overflow: hidden;
}

header .navigation li {
    list-style: none;
    margin-left: 30px;
}

header .navigation li a:hover {
    color: #ff0157;
}

header .navigation li a:active {
    color: gray
}

footer {
    position: relative;
    background-color: #394d5f;
    padding: 70px 0;
}

.footer-logo {
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: #fef9e6;
}

footer .footer-logo span {
    color: #ff0157;
}

.conteiner-footer {
    max-width: 1170px;
    background-color: #394d5f;
    margin: auto;
}

.conteiner-footer ul {
    list-style: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 600;
    position: relative;
    color: #fef9e6;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff0157;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fef9e6;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: 0.3s;
    letter-spacing: 2px;
}

.footer-col ul li a:hover {
    color: #ff0157;
    letter-spacing: 3px;
}

.footer-col ul li a:active {
    color: gray;
}

.social-link i {
    color: #fef9e6;
    font-size: 25px;
}

.social-link i:hover {
    color: #ff0157;
}

.social-link i:active {
    color: gray;
}

@media (max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: #fef9e6;
    mix-blend-mode: darken;
}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.showcase.active {
    right: 100px;
}

.showcase video {
    position: relative;
    height: 720px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 1;
}

.text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    color: #394d5f;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    color: #394d5f;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.1em;
    color: #394d5f;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.text span {
    color: #ff0157;
}

.Content a:hover {
    letter-spacing: 6px;
}

.Content a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}

.all-build-Saratov {
    position: relative;
    min-height: 1vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.all-build-Saratov a {
    display: inline-block;
    font-size: 1em;
    background: rgb(0, 0, 0);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.2s;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.all-build-Saratov a:hover {
    letter-spacing: 6px;
}

.block {
    width: 10;
    height: 0;
    border-style: solid;
    border-width: 25em;
    max-width: 100%;
    /* размер и форма */
    border-color: #ff0156ab transparent transparent;
    /* red — цвет */
    filter: drop-shadow(0 0 5px #000);
    /* тень */
    position: relative;
}

.textAr {
    position: relative;
    min-height: 1vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    bottom: 250px;
}

.textAr h2 {
    font-size: 2em;
    font-weight: 600;
    color: #fef9e6;
    line-height: 1em;
    text-transform: uppercase;
}

.aAr {
    display: flex;
    position: relative;
    min-height: 1vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    bottom: 300px;
}

.aAr a {
    display: inline-block;
    font-size: 1em;
    background: rgb(255, 255, 255);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    transition: 0.2s;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aAr a:hover {
    letter-spacing: 6px;
}

.text-swiper-Arch {
    position: absolute;
    align-items: center;
    padding-left: 134px;
    top: 95px;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.text-swiper-Arch a {
    display: inline-block;
    font-size: 1em;
    background: rgb(0, 0, 0);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.2s;
}

.text-swiper-Arch a:hover {
    letter-spacing: 6px;
}

.text-swiper-Arch h2 {
    background-color: white;
}

.text-swiper-build {
    position: absolute;
    align-items: center;
    padding-left: 134px;
    top: 95px;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.flour {
    left: 134px;
    position: absolute;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.text-swiper-build a {
    display: inline-block;
    font-size: 1em;
    background: rgb(0, 0, 0);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.2s;
}

.text-swiper-build a:hover {
    letter-spacing: 6px;
}

.flour a {
    display: inline-block;
    font-size: 1em;
    background: rgb(0, 0, 0);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 0.2s;
}

.flour a:hover {
    letter-spacing: 6px;
}

.text-swiper-build h2 {
    background-color: white;
}

.flour h2 {
    background-color: white;
}